@font-face {
    font-family: Lato-Light;
    src: url(assets/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(assets/fonts/Lato-Black.ttf);
}

html {
    font-size: 10px;
    background-color: #f2f2f2;
}

body {
    width: 1020px;
    margin: 0 auto;

    font-family: Lato-Regular, Arial, Helvetica, sans-serif;
    color: #666d89;
}
* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #2d303a;
    font-size: 0.01rem;
}

h2 {
    margin-bottom: 20px;

    font-family: Lato-Black, Arial, Helvetica, sans-serif;
    font-size: 3rem;;
    letter-spacing: -0.2px;
}

h3 {
    font-family: Lato-Black, Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.description-text {
    font-family: Lato-Light, Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.6;
}

.header,  .wrapper {
    border-bottom: solid 6px;
}

.header, .footer {
    padding: 0 40px;
}

.wrapper {
    padding: 58px 40px 65px;
}

.navigation__horizontal {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    align-self: center;

    list-style-type: none;
    cursor: pointer;

}


.header, .portfolio, .portfolio .wrapper, .footer {
    background-color: #2d303a;
}

.header, .portfolio, .portfolio .wrapper {
    border-color: #323746;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
}

.header__navigation {
    margin-top: 10px;
}

.logo__content {
    font-size: 2.5rem;
    text-transform: uppercase;
    color:white;
    letter-spacing: -0.5px
}

.logo__content::after {
    content: "*";
    color: #f06c64;
}

.navigation {
    justify-content: space-between;

    font-family: Lato-Regular, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}


.navigation__link + .navigation__link::before {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    content: '·';
    padding: 0 15px;
    color: #494e62;
}

.nav__link {
    color: white;
}

.nav__link:hover {
    color: #f06c64;
}

.slider__wrapper, .contact-us {
    background-color: #f06c64;
}

.slider__wrapper, .contact-us .wrapper {
    border-color: #ea676b;
}

.slider__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 52px 40px 60px;
}

.slider_picture {
    display: flex;
    align-items: center; 
}

.slider_picture img {
    margin: 0 35px;
}

.arrow {
    width: 20px;
    height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
}

.arrow-left {
    background-image: url(assets/chev_left.png);
}

.arrow-right {
    background-image: url(assets/chev_right.png);
}

.arrow-left:hover {
    background-image: url(assets/chev_left_hover.png);
}

.arrow-right:hover {
    background-image: url(assets/chev_right_hover.png);
}

.arow-left:hover {
    background-image: url(assets/chev_left_hover.svg);
}

.description, .about-us {
    background-color: #f2f2f2;
}

.description .wrapper, .about-us .wrapper {
    border-color: white;
}

.layout-2-column, .layout-3-column, .layout-4-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.layout-3-column {
    margin-top: 50px;
}

.layout-3-column__block {
    width: 32%;
    margin-bottom: 10px;
    display: flex;

}

.layout-3-column__title {
    margin-bottom: 15px;
}

.layout-3-column__description {
    font-family: Lato_regular, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;

}

.description .wrapper {
    padding-bottom: 28px;
}

.service__content {
    padding-left: 20px;
    text-align: justify;
    text-overflow: ellipsis;
}

.service {
    margin-bottom: 35px;
}

.service__title {
    line-height: 0.7;
}

.service__description {
    line-height: 1.7;
}

.our-services__description {
    margin-bottom: 48px;
}

.employee {
    display: flex;
    flex-direction: column;
}

.portfolio-work-container {
    height: 603px;
    overflow: auto;
}

.portfolio__link {
    font-size: 12px;
    border: 1px solid;
    border-radius: 6px;
    padding: 3px 6px;
    margin: 12px 12px 18px 0;
    font-family: Lato-Regular;
    letter-spacing: -0.2px;
}

.portfolio__link:hover {
    color: white;
    border-color: white;
}

.about-us .wrapper {
    padding-top: 54px;
    padding-bottom: 57px;
}

.about-us__title {
    margin-bottom: 14px;
    line-height: 1.6;
}

.employee__name {
    margin: 10px 0 6px;
    line-height: 1.8;
    text-overflow: ellipsis;
}

.employee__description {
    line-height: 1.7;
}

.employee__contacts {
    margin-top: 24px;
}

.emloyee-container {
    margin-top: 46px;
}

.contact__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 30px;
    margin-right: 9px;

    border: 1px solid;
    border-radius: 50%;
    border-color: #666d89;
}

.contact__link:hover {
    background-color: #d3d8ec;
    cursor: pointer;
}

.contact_icon {
    height: 1.4rem;
}

.contact-us .wrapper {
    color: #f0d8d9;
    padding-top: 59px;
    padding-bottom: 22px;
}

.contact-us-container {
    margin-top: 44px;
}

.layout-1-column {
    display: flex;
    flex-direction: column;
}

.contact-us__form form{
    width: 620px;
}

.contact-info {
    width: 32%;
}

.contact-us__form input, .contact-us__form textarea {
    border-style: none;
    margin-bottom: 16px;
    padding: 12px 15px;
    background-color: #d6564f;
    color: #f48c8f;
    border-radius: 6px;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.contact-us__form textarea {
    min-height: 200px;
    resize: none;
}

.contact-us__form input::placeholder, .contact-us__form textarea::placeholder {
    color: #f48c8f;
}

.contact-info__title {
    margin-bottom: 9px;
}

.contact-info__description {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 28px;
}

.contact__block {
    display: grid;
    grid-template-columns: 5% 95%;
    align-items: center;
    margin-bottom: 7px;
}

.contact-info__link {
    color: #f0d8d9;
    font-size: 1.2rem;
    padding-left: 8px;
}

.contact-info__icon {
    justify-self: center;
}

.contact-us__button .button {
    font-family: Lato-Black, Arial, Helvetica, sans-serif;
    height: 31px;
    color: #d6564f;
    background-color: #f0d8d9;
    box-sizing: border-box;
    border-style: none;
    width: 13%;
    line-height: 2.5;
    border-radius: 4px;
}

.contact-us__button .button:hover {
    background-color: #f48c8f;
    color: #f0d8d9;
    cursor: pointer;

}

.footer {
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;

    font-size: 1.2rem;
}
