@font-face {
    font-family: Lato-Light;
    src: url(assets/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(assets/fonts/Lato-Black.ttf);
}

html {
    font-size: 10px;
    background-color: #f2f2f2;
}

body {
    width: 1020px;
    margin: 0 auto;

    font-family: Lato-Regular, Arial, Helvetica, sans-serif;
    color: #666d89;

    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}

.hamburger {
    display: none;
}

h1 {
    color: #2d303a;
    font-size: 0.01rem;
}

h2 {
    margin-bottom: 20px;

    font-family: Lato-Black, Arial, Helvetica, sans-serif;
    font-size: 3rem;;
    letter-spacing: -0.2px;
}

h3 {
    font-family: Lato-Black, Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.description-text {
    font-family: Lato-Light, Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.6;
}

.header_wrapper,  .wrapper {
    border-bottom: solid 6px;
}

.header_wrapper, .footer {
    padding: 0 40px;
}

.wrapper {
    padding: 58px 40px 65px;
}

.navigation__horizontal {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    align-self: center;

    list-style-type: none;
    cursor: pointer;

}


.header, .portfolio, .portfolio .wrapper, .footer {
    background-color: #2d303a;
}

.header, .portfolio, .portfolio .wrapper {
    border-color: #323746;
}

.header {
    height: 89px;
}

.header_wrapper {
    width:940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
    background-color: #2d303a;
    border-color: #323746;
    position: fixed;
}

.header__navigation {

    margin-top: 10px;
}

.logo__content {
    font-size: 2.5rem;
    text-transform: uppercase;
    color:white;
    letter-spacing: -0.5px
}

.logo__content::after {
    content: "*";
    color: #f06c64;
}

.navigation {
    justify-content: space-between;

    font-family: Lato-Regular, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}


.navigation__link + .navigation__link::before {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    content: '·';
    padding: 0 15px;
    color: #494e62;
}

.nav__link {
    color: white;
}

.nav__link:hover {
    color: #f06c64;
}

.navigation__link .active {
    color: #f06c64;
}



.slider__wrapper, .contact-us {
    background-color: #f06c64;
}

.slider__wrapper, .contact-us .wrapper {
    border-color: #ea676b;
}

.slider__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 52px 40px 60px;
}

.slider_picture {
    display: flex;
    align-items: center; 
}

.slider_picture img {
    margin: 0 35px;
}

.arrow {
    width: 20px;
    height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
}

.arrow-left {
    background-image: url(assets/chev_left.png);
}

.arrow-right {
    background-image: url(assets/chev_right.png);
}

.arrow-left:hover {
    background-image: url(assets/chev_left_hover.png);
}

.arrow-right:hover {
    background-image: url(assets/chev_right_hover.png);
}

.description, .about-us {
    background-color: #f2f2f2;
}

.description .wrapper, .about-us .wrapper {
    border-color: white;
}

.layout-2-column, .layout-3-column, .layout-4-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.layout-3-column {
    margin-top: 50px;
}

.layout-3-column__block {
    width: 32%;
    margin-bottom: 10px;
    display: flex;

}

.layout-3-column__title {
    margin-bottom: 15px;
}

.layout-3-column__description {
    font-family: Lato_regular, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;

}

.description .wrapper {
    padding-bottom: 28px;
}

.service__content {
    padding-left: 20px;
    text-align: justify;
    text-overflow: ellipsis;
}

.service {
    margin-bottom: 35px;
}

.service__title {
    line-height: 0.7;
}

.service__description {
    line-height: 1.7;
}

.our-services__description {
    margin-bottom: 48px;
}

.employee {
    display: flex;
    flex-direction: column;
}

.portfolio-work-container {
    height: 603px;
    overflow: hidden;
}

.portfolio__link {
    font-size: 12px;
    border: 1px solid;
    border-radius: 6px;
    padding: 3px 6px;
    margin: 12px 12px 18px 0;
    font-family: Lato-Regular;
    letter-spacing: -0.2px;
}

.portfolio__link:hover {
    color: white;
    border-color: white;
}

.portfolio-work {
    border: 5px solid rgba(255,255,255,0);
    width: 220px;
    height: 187px;
}

.work-selected {
    border: 5px solid #F06C64;
}

.link__selected {
    color: white;
    border-color: white;
}

.about-us .wrapper {
    padding-top: 54px;
    padding-bottom: 57px;
}

.about-us__title {
    margin-bottom: 14px;
    line-height: 1.6;
}

.employee__name {
    margin: 10px 0 6px;
    line-height: 1.8;
    text-overflow: ellipsis;
}

.employee__description {
    line-height: 1.7;
}

.employee__contacts {
    margin-top: 24px;
}

.emloyee-container {
    margin-top: 46px;
}

.contact__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 30px;
    margin-right: 9px;

    border: 1px solid;
    border-radius: 50%;
    border-color: #666d89;
}

.contact__link:hover {
    background-color: #d3d8ec;
    cursor: pointer;
}

.contact_icon {
    height: 1.4rem;
}

.contact-us .wrapper {
    color: #f0d8d9;
    padding-top: 59px;
    padding-bottom: 22px;
}

.contact-us-container {
    margin-top: 44px;
}

.layout-1-column {
    display: flex;
    flex-direction: column;
}

.contact-us__form form{
    width: 620px;
}

.contact-info {
    width: 32%;
}

.contact-us__form input, .contact-us__form textarea {
    border-style: none;
    margin-bottom: 16px;
    padding: 12px 15px;
    background-color: #d6564f;
    color: #f48c8f;
    border-radius: 6px;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.contact-us__form textarea {
    min-height: 200px;
    resize: none;
}

.contact-us__form input::placeholder, 
.contact-us__form textarea::placeholder {
    color: #f48c8f;
}

.contact-info__title {
    margin-bottom: 9px;
}

.contact-info__description {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 28px;
}

.contact__block {
    display: grid;
    grid-template-columns: 5% 95%;
    align-items: center;
    margin-bottom: 7px;
}

.contact-info__link {
    color: #f0d8d9;
    font-size: 1.2rem;
    padding-left: 8px;
}

.contact-info__icon {
    justify-self: center;
}

.contact-us__button .submit-button, .close-button{
    font-family: Lato-Black, Arial, Helvetica, sans-serif;
    height: 31px;
    color: #d6564f;
    background-color: #f0d8d9;
    box-sizing: border-box;
    border-style: none;
    width: 13%;
    line-height: 2.5;
    border-radius: 4px;
}

.contact-us__button .submit-button:hover, .close-button:hover{
    background-color: #f48c8f;
    color: #f0d8d9;
    cursor: pointer;

}

.footer {
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;

    font-size: 1.2rem;
}

/*js elements style*/

.vertical-dark-screen, .horizontal-dark-screen {
    position: absolute;
    z-index: 1;
}

.horizontal-dark-screen {
    width: 333px;
    height: 190px;
    margin: 13px 95px;
}

.vertical-dark-screen {
    margin: 64px 0px 0px 47px;
    width: 190px;
    height: 335px;
}

.off {
    background-color: black;
}

.modal-window {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 1020px;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
}

.pop-up {
    position: relative;
    z-index: 2;
    width: 400px;
    min-height: 250px;
    background-color: #d6564f;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 15px;
    color: #f0d8d9;;
    font-family: Lato-Regular;
    font-size: 1.6rem;
}

.close-button {
    margin: 0 auto;
}

/*responsive*/
@media screen and (max-width: 768px){
    
    body {
        width: 768px;
    } 

    header {
        height: 95px;
    }

    .header_wrapper {
        width: 688px;
    }

    .navigation {
        font-size: 1.2rem;
    }

    .slider__wrapper {
        padding: 45px 29px 36px;
    }

    .slider_picture {
        width: 600px;
        display: flex;
        justify-content: space-between;
    }

    .slider_picture img {
        margin: 0;
        padding: 0;
    }

    .vertical-phone {
        height: 368px;
        padding:0 0 0 25px;
    }    

    .horizontal-phone {
        width: 366px;
        height: 184px;
        padding: 0 25px 0 0;
    }

    .vertical-dark-screen {
        margin: 48px 0px 0px 10px;
        width: 146px;
        height: 257px;
    }
    .horizontal-dark-screen {
        width: 257px;
        height: 146px;
        margin: 10px 43px;
    }

    .description .wrapper {
        padding-top: 40px;
        padding-bottom: 64px;
    }

    .our-services__description {
        margin-bottom: 0;
    }

    .services-container {
        margin-top: 45px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5rem;
        grid-row-gap: 4rem;
    }

    .service {
        margin-bottom: 0;
        width: 100%;
    }

    .portfolio__link {
        margin-bottom: 28px;
    }

    .portfolio-work {
        width: 216px;
        height: 184px;
    }

    .employee__photo {
        width: 219px;
    }

    .portfolio .wrapper {
        padding-bottom: 73px;
    }

    .portfolio-work-container {
        height: 794px;
    }

    .contact-us__form form{
        width: 442px;
    }
    
    .contact-us__button .submit-button {
        background-color: #FBC65F;
        color: #886A30;
        width: 136px;
        height: 38px;
        font-size: 1.5rem;
        line-height: 1.7rem;
        text-transform: uppercase;
        font-family: Lato-Bold;
    }

}

@media screen and (max-width: 375px) {

    body {
        width: 375px;
    }

    .wrapper {
        padding: 30px 30px;
    }

    .header_wrapper {
        width: 375px;
        padding: 0;
    }


    .logo {
        padding-right: 125px;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        height: 2rem;
        justify-content: space-between;
        padding-left: 20px;
    }

    .hamburger .dash {
        width: 25px;
        height: 2px;
        background-color: white;
        border-radius: 1px;
    }

    .closed-menu {
        display: none;
    }

    .slider__wrapper {
        padding: 20px 10px;
    }

    .slider_picture {
        width: 298px;
        display: flex;
        justify-content: space-between;
    }

    .slider_picture img {
        margin: 0;
        padding: 0;
    }

    .vertical-phone {
        height: 178px;
        padding:0 0 0 27px;
    }    

    .horizontal-phone {
        width: 178px;
        height: 88px;
    }

    .vertical-dark-screen {
        margin: 23px 0px 0px 5px;
        width: 70px;
        height: 124px;
    }
    .horizontal-dark-screen {
        width: 124px;
        height: 70px;
        margin: 5px 21px;
    }

    .arrow {
        height: 25px;
    }

    .services-container {
        margin-top: 45px;
        display: grid;
        grid-template-columns: 1fr; 
        grid-column-gap: 5rem;
        grid-row-gap: 4rem;
    }

    .portfolio-work-container {
        height: 555px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .portfolio-work {
        width: 151px;
        height: 128px;
    }

    .emloyee-container {
        flex-direction: column;;
    }

    .employee__photo {
        width: 314px;
        height: 314px;
    }

    .employee__content, .contact-us__form form {
        width: 315px;
    }

    .contact-info {
        margin-top: 3rem;
        width: 100%;
    }

    .contact-us__button .submit-button {
        border-radius: 5px;
        width: 315px;
        height: 50px;
        font-size: 1.4rem;
    }

    .footer-copyright {
        display: none;
    }

    .footer {
        justify-content: center;
    }

    /*js elements styles for mobile*/

    .blur{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        z-index: 3;
    }

    .header_wrapper.opened {
        z-index: 4;
        width: 70%;
        height: 100%;
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-template-rows: 10% 1fr 1fr;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        animation-name: turnout;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes  turnout {
        from {
            width: 0;
        }
        to {
            width: 70%;
        }
    }


    .burger-mobile {
        padding: 25px;
    }

    .hamburger.opened {
        animation-name: move;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes move {
        from {top: 0px;}
        to {transform: rotate(90deg);
            margin-top: 10px;}
    }


    .header__navigation{
        align-self: center;
        grid-column-start: 2;
        margin-top: 100px;
    }

    .header__navigation ul {
        flex-direction: column;
    }


    .navigation__link + .navigation__link::before {
        width: 0;
        height: 0;
        content: '';
        padding: 0;
    }

    .navigation__link {
        padding-bottom: 25px;
        font-size: 2.4rem;
    }

}
